# Helicon Ape version 3.0.0.65

RewriteEngine On

#https rewrite
RewriteCond %{HTTPS} off [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?multiplemonitors\.co.uk$ [NC]
RewriteRule (.*) https\://www.multiplemonitors.co.uk/$1 [R=301]

# Full Site Redirect Working
# RewriteRule (.+) http://www.google.co.uk/$1 [R=301,L]

#Custom Category Pages ReWrite
#RewriteRule ^guide/ /guide/default.asp [NC,QSA,L]
#RewriteRule ^display-systems/ /display-systems-new.asp [NC,QSA,L]
#RewriteRule ^bundles/ /bundles-new.asp [NC,QSA,L]
RewriteRule ^computers/ /shop/pc/CUSTOMCAT-computers.asp [NC,QSA,L]
RewriteRule ^computers https://www.multiplemonitors.co.uk/computers/ [R=301,L]
RewriteRule ^trading-computers/ /shop/pc/CUSTOMCAT-tradingcomputers.asp [NC,QSA,L]
RewriteRule ^trading-computers https://www.multiplemonitors.co.uk/trading-computers/ [R=301,L]
RewriteRule ^dual-monitor-bundles/ /bundles/ [R=301,L]
RewriteRule ^dual-monitor-bundles https://www.multiplemonitors.co.uk/bundles/ [R=301,L]
RewriteRule ^dual-monitors/ /display-systems/ [R=301,L]
RewriteRule ^dual-monitors https://www.multiplemonitors.co.uk/display-systems/ [R=301,L]
RewriteRule ^triple-monitor-bundles/ /bundles/ [R=301,L]
RewriteRule ^triple-monitor-bundles https://www.multiplemonitors.co.uk/bundles/ [R=301,L]
RewriteRule ^triple-monitors/ /display-systems/ [R=301,L]
RewriteRule ^triple-monitors https://www.multiplemonitors.co.uk/display-systems/ [R=301,L]
RewriteRule ^quad-monitor-bundles/ /bundles/ [R=301,L]
RewriteRule ^quad-monitor-bundles https://www.multiplemonitors.co.uk/bundles/ [R=301,L]
RewriteRule ^quad-monitors/ /display-systems/ [R=301,L]
RewriteRule ^quad-monitors https://www.multiplemonitors.co.uk/display-systems/ [R=301,L]
RewriteRule ^control-station-bundles/ /bundles/ [R=301,L]
RewriteRule ^control-station-bundles https://www.multiplemonitors.co.uk/bundles/ [R=301,L]
RewriteRule ^control-stations/ /display-systems/ [R=301,L]
RewriteRule ^control-stations https://www.multiplemonitors.co.uk/display-systems/ [R=301,L]
RewriteRule ^monitors/ /shop/pc/CUSTOMCAT-monitors.asp [NC,QSA,L]
RewriteRule ^monitors https://www.multiplemonitors.co.uk/monitors/ [R=301,L]
RewriteRule ^stands/ /shop/pc/CUSTOMCAT-stands.asp [NC,QSA,L]
RewriteRule ^stands https://www.multiplemonitors.co.uk/stands/ [R=301,L]
RewriteRule ^bundles/ /shop/pc/CUSTOMCAT-bundles1.asp [NC,QSA,L]
RewriteRule ^bundles-2/ /shop/pc/CUSTOMCAT-bundles2.asp [NC,QSA,L]
RewriteRule ^bundles-3/ /shop/pc/CUSTOMCAT-bundles3.asp [NC,QSA,L]
RewriteRule ^bundles https://www.multiplemonitors.co.uk/bundles/ [R=301,L]
RewriteRule ^display-systems/ /shop/pc/CUSTOMCAT-arrays1.asp [NC,QSA,L]
RewriteRule ^display-systems-2/ /shop/pc/CUSTOMCAT-arrays2.asp [NC,QSA,L]
RewriteRule ^display-systems-3/ /shop/pc/CUSTOMCAT-arrays3.asp [NC,QSA,L]
RewriteRule ^display-systems https://www.multiplemonitors.co.uk/display-systems/ [R=301,L]
RewriteRule ^guide/ / [R=301,L]
RewriteRule ^support/ /shop/pc/checkout.asp?cmode=1 [NC,QSA,L]

#Sep 2014 - Major website change
RewriteRule ^products/extreme-eight-monitor-computer/ /products/extreme-multi-screen-computer/ [R=301,L]
RewriteRule ^products/extreme-quad-monitor-computer/ /products/extreme-multi-screen-computer/ [R=301,L]
RewriteRule ^products/extreme-six-monitor-computer/ /products/extreme-multi-screen-computer/ [R=301,L]
RewriteRule ^products/extreme-dual-monitor-computer/ /products/extreme-multi-screen-computer/ [R=301,L]
RewriteRule ^products/ultra-quad-monitor-computer/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/ultra-six-monitor-computer/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/ultra-dual-monitor-computer/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/ultra-eight-monitor-computer/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/intel-quad-monitor-computer/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/intel-dual-monitor-computer/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/intel-eight-monitor-pc/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/intel-six-monitor-computer/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/24-quad-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/24-quad-monitors-ultra/ /bundles/ [R=301,L]
RewriteRule ^products/24-eight-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/17-triple-monitors-intel/ /bundles/ [R=301,L]
RewriteRule ^products/22-quad-monitors-ultra/ /bundles/ [R=301,L]
RewriteRule ^products/22-quad-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/24-triple-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/17-six-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/24-six-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/22-eight-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/22-six-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/24-six-monitors-intel/ /bundles/ [R=301,L]
RewriteRule ^products/17-dual-monitors-intel/ /bundles/ [R=301,L]
RewriteRule ^products/19-triple-monitors-extreme/ /bundles/ [R=301,L]
RewriteRule ^products/17-six-monitors-ultra/ /bundles/ [R=301,L]
RewriteRule ^products/eight-22-monitors/ /display-systems/ [R=301,L]
RewriteRule ^products/22-eight-monitors-ultimate/ /bundles/ [R=301,L]
RewriteRule ^products/22-six-monitors-ultimate/ /bundles/ [R=301,L]
RewriteRule ^products/22-dual-widescreens/ /display-systems/ [R=301,L]
RewriteRule ^products/19-dual-monitors/ /display-systems/ [R=301,L]
RewriteRule ^products/pro-multi-screen-pc/ /products/ultra-multi-monitor-pc/ [R=301,L]
RewriteRule ^products/charter-pc/ /products/trader-pc/ [R=301,L]

#August 2017 Site Changes
RewriteRule ^pop-pages/custpc-multiview.htm pop-pages/custpc-displayfusion.htm [R=301,L]
RewriteRule ^pop-pages/multiview.htm pop-pages/custpc-displayfusion.htm [R=301,L]
RewriteRule ^blog/multiview-multiple-monitor-software/ /blog/display-fusion-multiple-monitor-software/ [R=301,L]
RewriteRule ^display-fusion/ https://www.binaryfortress.com/Data/Download/?package=displayfusion&log=0&res=cca87001-d12c-4ec0-9935-821bfaf0c0a4 [NC,QSA,L]
RewriteRule ^remote https://get.teamviewer.com/mm-remote [R=301,L]


#Affiliate login redirect
RewriteRule ^affiliates/ /shop/pc/affiliatelogin.asp [NC,QSA,L]
RewriteRule ^affiliates https://www.multiplemonitors.co.uk/affiliates/ [R=301,L]

#Need More Time
RewriteRule ^needmoretime/ /shop/130707/main-assist.asp [NC,QSA,L]
RewriteRule ^needmoretime https://www.multiplemonitors.co.uk/needmoretime/ [R=301,L]

#Old Guide Rewrite
RewriteRule ^guide/dual-q2/ https://www.multiplemonitors.co.uk/blog/ [R=301,L]

#Broken links due to product url changes - Old
RewriteRule ^products/19-22-triple-monitors-intel-quad/ https://www.multiplemonitors.co.uk/triple-monitors/ [R=301,L]
RewriteRule ^products/19-22-triple-monitors/ https://www.multiplemonitors.co.uk/products/22-triple-monitors/ [R=301,L]
RewriteRule ^products/ultimate-dual-monitor-pc/ https://www.multiplemonitors.co.uk/products/extreme-dual-monitor-computer/ [R=301,L]
RewriteRule ^products/ultimate-quad-monitor-pc/ https://www.multiplemonitors.co.uk/products/extreme-quad-monitor-computer/ [R=301,L]
RewriteRule ^products/ultimate-six-monitor-PC/ https://www.multiplemonitors.co.uk/products/extreme-six-monitor-computer/ [R=301,L]
RewriteRule ^products/ultimate-eight-monitor-PC/ https://www.multiplemonitors.co.uk/products/extreme-eight-monitor-computer/ [R=301,L]
RewriteRule ^products/22-eight-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/22-eight-monitors-extreme/ [R=301,L]
RewriteRule ^products/19-eight-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/19-eight-monitors-extreme/ [R=301,L]
RewriteRule ^products/17-eight-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/17-eight-monitors-extreme/ [R=301,L]
RewriteRule ^products/22-six-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/22-six-monitors-extreme/ [R=301,L]
RewriteRule ^products/19-six-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/19-six-monitors-extreme/ [R=301,L]
RewriteRule ^products/17-six-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/17-six-monitors-extreme/ [R=301,L]
RewriteRule ^products/19-five-pyramid-ultimate/ https://www.multiplemonitors.co.uk/products/19-five-pyramid-extreme/ [R=301,L]
RewriteRule ^products/17-five-pyramid-ultimate/ https://www.multiplemonitors.co.uk/products/17-five-pyramid-extreme/ [R=301,L]
RewriteRule ^products/22-quad-horiz-ultimate/ https://www.multiplemonitors.co.uk/products/22-quad-horiz-extreme/ [R=301,L]
RewriteRule ^products/19-quad-horiz-ultimate/ https://www.multiplemonitors.co.uk/products/19-quad-horiz-extreme/ [R=301,L]
RewriteRule ^products/17-quad-horiz-ultimate/ https://www.multiplemonitors.co.uk/products/17-quad-horiz-extreme/ [R=301,L]
RewriteRule ^products/22-quad-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/22-quad-monitors-extreme/ [R=301,L]
RewriteRule ^products/19-quad-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/19-quad-monitors-extreme/ [R=301,L]
RewriteRule ^products/17-quad-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/17-quad-monitors-extreme/ [R=301,L]
RewriteRule ^products/19-quad-pyramid-ultimate/ https://www.multiplemonitors.co.uk/products/19-quad-pyramid-extreme/ [R=301,L]
RewriteRule ^products/17-quad-pyramid-ultimate/ https://www.multiplemonitors.co.uk/products/17-quad-pyramid-extreme/ [R=301,L]
RewriteRule ^products/22-triple-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/22-triple-monitors-extreme/ [R=301,L]
RewriteRule ^products/19-triple-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/19-triple-monitors-extreme/ [R=301,L]
RewriteRule ^products/17-triple-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/17-triple-monitors-extreme/ [R=301,L]
RewriteRule ^products/19-triple-pyramid-ultimate/ https://www.multiplemonitors.co.uk/products/19-triple-pyramid-extreme/ [R=301,L]
RewriteRule ^products/17-triple-pyramid-ultimate/ https://www.multiplemonitors.co.uk/products/17-triple-pyramid-extreme/ [R=301,L]
RewriteRule ^products/24-dual-widescreens-ultimate/ https://www.multiplemonitors.co.uk/products/24-dual-widescreens-extreme/ [R=301,L]
RewriteRule ^products/22-dual-widescreens-ultimate/ https://www.multiplemonitors.co.uk/products/22-dual-widescreens-extreme/ [R=301,L]
RewriteRule ^products/19-dual-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/19-dual-monitors-extreme/ [R=301,L]
RewriteRule ^products/17-dual-monitors-ultimate/ https://www.multiplemonitors.co.uk/products/17-dual-monitors-extreme/ [R=301,L]
RewriteRule ^blog/the-ultimate-pc-series/ https://www.multiplemonitors.co.uk/blog/the-extreme-pc-series/ [R=301,L]
RewriteRule ^accessories/ https://www.multiplemonitors.co.uk/ [R=301,L]
RewriteRule ^products/rextron-usb-vga/‎ https://www.multiplemonitors.co.uk/ [R=301,L]
RewriteRule ^shop/pc/contact.asp https://www.multiplemonitors.co.uk/pages/contact-us/ [R=301,L]


#Products ReWrite
RewriteBase /
RewriteRule ^products/([^/]+) /shop/pc/viewPrd.asp?url=$1 [NC,QSA,L]

#Pages ReWrite
RewriteBase /
RewriteRule ^pages/([^/]+) /shop/pc/viewContent.asp?url=$1 [NC,QSA,L]

#Sep 2016 - Blog stuff
RewriteBase /
RewriteRule ^blog/hardware /new-blog/default.asp?catid=0 [NC,QSA,L]
RewriteRule ^blog/product-guides /new-blog/default.asp?catid=1 [NC,QSA,L]
RewriteRule ^blog/setup-guides /new-blog/default.asp?catid=2 [NC,QSA,L]
RewriteRule ^blog/software /new-blog/default.asp?catid=3 [NC,QSA,L]
RewriteRule ^blog/stands /new-blog/default.asp?catid=4 [NC,QSA,L]
RewriteRule ^blog/trading /new-blog/default.asp?catid=5 [NC,QSA,L]
RewriteRule ^blog/([^/]+) /shop/pc/viewContent.asp?url=$1 [NC,QSA,L]
RewriteRule ^blog /new-blog/default.asp?catid=999 [NC,QSA,L]

#Payment ReWrite
RewriteBase /
RewriteRule ^pay/([^/]+)/([^/]+) /shop/pc/manpayForm.asp?amount=$1&pay=$2 [R=301,L]