@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
 	padding: 0;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	text-align:left;
	line-height:140%;                         
}

p {
			font-size:135%; line-height:135%; color:#666666; font-weight:normal; padding:0 0 8px 0px;
	}
h2 {
			font-size:230%; line-height:130%; color:#058dc2; font-weight:normal; padding-bottom:6px;
		}
h1 {
			font-size:230%; line-height:130%; color:#058dc2; font-weight:normal; padding-bottom:15px;
		}
h3 {
			font-size:200%; line-height:130%; color:#058dc2; font-weight:normal; padding-bottom:6px;
		}

a {
	color:#8c9e42;
	}
a:hover {
	text-decoration:none;
}
img {
	float:right;
	padding:3px;
	}
p.lg {
	font-size:160%; font-weight:bold;
}
span.blue {
	color:#058dc2;
}
ul {
	margin:0 0 0 26px;
	font-size:135%;
	line-height:135%; 
	color:#666666; 
	font-weight:normal;
}
li {
	margin:0 0 6px 0;
}
.pop-contact-tbl {
	width:450px;
}